@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--button-color);
    color: var(--background-color);
}


/* Colors */
/* 
    Primary Color (Official School Color): #0072CE (Blue)
    Secondary Color (Accent): #FFA300 (Orange)
    Background Color: #eeefef (Dark White)
    Text Color: #333333 (Dark Gray)
    Button Color: #4CAF50 (Green)
*/
:root {
    --primary-color: #0072CE;
    --secondary-oclor: #FFA300;
    --background-color: #ffffff;
    --text-color: #333333;
    --button-color: #4CAF50;

    /* Font family Arabic */
    --font-family: 'Scheherazade';
}

div.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.center-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.cus-label {
    font-weight: 700;
    border-right: 3px solid var(--button-color);
    padding-right: 10px;
}

#input-field::placeholder, .confirm::placeholder, .confirm::placeholder {
    color: #33333372;
}

#input-field, .confirm, .confirm{
    border: 2px solid var(--secondary-oclor);
    box-shadow: none;
    transition: .2s;
}

#input-field:focus, .confirm:focus, .confirm:focus {
    border: 2px solid var(--button-color);
}

span {
    font-weight:bolder;
}

i, .fas {
    display: flex;
    font-weight: 900;
    flex-direction: row-reverse;
    position: absolute;
    margin: -28px 258px;
    color: rgba(128, 128, 128, 0.483);
    cursor: pointer;
    display: none;
    transition: .2s;
}

i, .fas:hover {
    color: var(--text-color);
}

#error-container {
    background: #F2DEDE;
    color: #d13936;
    padding: 10px;
    width: 65%;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
}

/* footer */
footer {
    color: var(--text-color); 
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 20px;
    margin-top: 60px;
    font-family: var(--font-family);
    font-weight: bold;
}

footer i a {
    color: var(--text-color);
    text-decoration: none;
}