<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/add-teacher.css" />
  </head>
<body>
    <!-- Header -->
        <%- include('../partials/header.ejs') %>
    <!-- Header Ends!! -->
    <div class="center-container">
      <p><%= messages.success %></p>
      <div>
        <h3 id="h4">إضافة استاذ(ة)</h3>
      </div>
     <a href="/director" title="إلفاء" id="cancel" class="mt-5"><button type="button" class="btn-close" aria-label="Close" style="margin-left: 13px;"></button></a> 
     <div class="container my-5" dir="rtl">
          <form action="/add-teacher" class="row g-3" autocomplete="off" method="POST">
            <div class="col-md-6">
              <label class="form-label cus-label" >CIN</label><span> :</span>
              <input type="text" name="CIN" required placeholder="رقم البطاقة الوطنية" id="input-field" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label cus-label">كلمة المرور </label><span> :</span>
                <input type="password" name="password" required placeholder="ادخل كلمة المرور" id="input-field" class="form-control">
                <i class="fas fa-eye" id="togglePassword"></i>
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label" >الإسم الكامل </label><span> :</span>
                <input type="text" name="full_name" placeholder="اسم و نسب الاستاذ(ة)" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label">اعد كلمة المرور</label><span> :</span>
                <input type="password" required placeholder="ادخل كلمة المرور من جديد" name="confirm_password" id="input-field" class="form-control">
                </div>
            <div class="col-md-6">
                <label class="form-label cus-label">إسم المستخدم </label><span> :</span>
                <input type="text" name="username" required placeholder="ادخل اسم المستخدم الخاص" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
              <label class="form-label cus-label">المستوى </label><span> :</span>
              <select class="form-select" aria-label="Default select example" id="input-field" name="selected_level">
                <option selected name="colle" value="إعدادي">إعدادي</option>
                <option name="lycee" value="ثانوي">ثانوي</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label cus-label">المادة</label><span> :</span>
              <select class="form-select" aria-label="Default select example" id="input-field" name="selected_subject">
                <option selected value="اللغة العربية (Arabic Language)">اللغة العربية (Arabic Language)</option>
                <option value="اللغة الفرنسية (French Language)">اللغة الفرنسية (French Language)</option>
                <option value="اللغة الإنجليزية (English Language)">اللغة الإنجليزية (English Language)</option>
                <option value="اللغة الإسبانية (Spanish Language)">اللغة الإسبانية (Spanish Language)</option>
                <option value="اللغة الألمانية (German Language)">اللغة الألمانية (German Language)</option>
                <option value="الرياضيات (Mathematics)">الرياضيات (Mathematics)</option>
                <option value="الفيزياء (Physics)">الفيزياء (Physics)</option>
                <option value="الكيمياء (Chemistry)">الكيمياء (Chemistry)</option>
                <option value="الأحياء (Biology)">الأحياء (Biology)</option>
                <option value="الجغرافيا (Geography)">الجغرافيا (Geography)</option>
                <option value="التربية الإسلامية (Islamic Education)">التربية الإسلامية (Islamic Education)</option>
                <option value="الفلسفة (Philosophy)">الفلسفة (Philosophy)</option>
                <option value="ألتربية التشكيلية (Art education)">ألتربية التشكيلية (Art education)</option>
                <option value="المعلوميات (Informatique)">المعلوميات (Informatique)</option>
                <option value="التكنولوجيا (technology)">التكنولوجيا (technology)</option>
              </select>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                <label class="custom-control-label" for="customCheck1">اشهد على صحة المعلومات المصرح بها</label>
            </div>
            <button type="submit" class="btn w-25 btn-primary">إضافة</button>
          </form>
      </div>
    </div>
    <!-- <script>
            const passwordInput = document.querySelector('input[name="password"]');
            const confirmInput = document.querySelector('input[name="confirm_password"]');
            const togglePassword = document.getElementById('togglePassword');
            
            togglePassword.addEventListener('click', function () {
              togglePasswordVisibility(passwordInput);
              togglePasswordVisibility(confirmInput);
            });
            
            function togglePasswordVisibility(inputField) {
              if (inputField.type === 'password') {
                    inputField.type = 'text';
                } else {
                    inputField.type = 'password';
                  }
            }
    </script> -->
    
    <!-- footer --->
        <%- include('../partials/footer.ejs') %>
    <!-- footer ends -->
</body>
</html>