<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Header Ends!! -->
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/admin" method="post" class="sign-in-form">
            <h2 class="title">الإدارة</h2>
            <!-- Diplay none the warning msg till i fix the prblm -->
              <!-- Inside your login EJS file -->
            <% if (messages.error) { %>
              <div id="alert-message" style="transition: opacity 400ms ease 0s, transform 400ms ease 0s; transform: none; opacity: 1;">
                <div class="toaster-container toast--state-error fade show">
                    <div class="d-flex align-items-center">
                        <div class="toast__content">
                            <p class="toast__msg"><%= messages.error %></p>
                        </div>
                        <div class="toast__icon" style="margin-right: 10px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24.979" height="24.979" viewBox="0 0 24.979 24.979">
                            <path data-name="Path 3959" d="M26.979 14.489A12.489 12.489 0 1 1 14.489 2a12.49 12.49 0 0 1 12.49 12.489zM16.05 8.245a1.561 1.561 0 1 1-1.561-1.561 1.562 1.562 0 0 1 1.561 1.561zm-3.122 4.683a1.561 1.561 0 0 0 0 3.122v4.683a1.562 1.562 0 0 0 1.561 1.567h1.561a1.561 1.561 0 0 0 0-3.122v-4.689a1.562 1.562 0 0 0-1.561-1.561z" transform="translate(-2 -2)" style="fill: #dc3545; fill-rule: evenodd;"></path>
                          </svg>
                        </div>
                    </div>
                </div>
            </div>            
            <% } %>            
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id="username" type="text" name="username" autocomplete="off" placeholder="اسم المستخدم" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input id="password" type="password" name="password" placeholder="كلمة المرور" />
            </div>
              <div class="btn-1">
                <button class="rounded-1" id="submit" type="submit">تسجيل الدخول</button>
              </div>
          </form>
        </div>
      </div>
    <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    <!-- footer ends -->

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          // Wait for the document to be fully loaded
          setTimeout(function() {
              var alertMessage = document.getElementById('alert-message');
              // Start the fade-out
              alertMessage.style.opacity = '0';

              // Wait for the transition to finish before removing/hiding
              setTimeout(function() {
                  // Option 1: Remove the alert message from the DOM
                  alertMessage.remove();

                  // Option 2: Hide the alert message (uncomment the line below to use this option instead)
                  // alertMessage.style.display = 'none';
              }, 400); // This should match the duration of the opacity transition
          }, 6000); // Adjust this value for how long before the fade-out starts
      });
</script>


  </body>
</html>

