<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Header Ends!! -->
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/admin" method="post" class="sign-in-form">
            <h2 class="title">الإدارة</h2>
              <div>
                <div style="transition: opacity 400ms ease 0s, transform 400ms ease 0s; transform: none; opacity: 1;">
                    <div class="toaster-container toast--state-warning fade show">
                        <div class="d-flex align-items-center">
                            <div class="toast__icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10" />
                                <line x1="12" y1="8" x2="12" y2="12" />
                                <line x1="12" y1="16" x2="12" y2="16" />
                              </svg>                              
                            </div>
                            <div class="toast__content">
                                <p class="toast__msg">الرجاء تسجيل الدخول أولاً للوصول إلى لوحة التحكم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id="username" type="text" name="username" autocomplete="off" placeholder="اسم المستخدم" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input id="password" type="password" name="password" placeholder="كلمة المرور" />
            </div>
              <div class="btn-1">
                <button class="rounded-1" id="submit" type="submit">تسجيل الدخول</button>
              </div>
          </form>
        </div>
      </div>
    <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    <!-- footer ends -->
    <!-- <script>
        // Change the border color to red
        document.getElementById('username').style.border = '2px solid red';
        document.getElementById('password').style.border = '2px solid red';

      const usernameInput = document.getElementById('username');
      const passwordInput = document.getElementById('password');

      usernameInput.addEventListener('input', function() {
        usernameInput.style.border = '2px solid #FFA300';
      });

      passwordInput.addEventListener('input', function() {
        passwordInput.style.border = '2px solid #FFA300';
      });
    </script> -->
    </body>
</html>

