<footer>
    <p>
        <i><a href="https://github.com/oulaydi" target="_blank">TECHVERSE</a></i>
        <i>collab with</i>
        <i><a href="https://github.com/Kaneki881" target="_blank">AMIN</a></i>
        &copy; <%= getFormattedDate() %> .جميع الحقوق محفوظة
    </p>
</footer>
