<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="info" content="Web school project" />
    <meta name="description" content="Hi, I am OULAYDI Oussama and I'm working on a school project :3"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/icon.PNG" type="image/x-icon" />
    <title><%= title %></title>

    