<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .Model {
  display: flex;
  flex-direction: column;
  align-items: center;
border-radius: 10px;
  width: 30%;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  padding-bottom:40px;
 
  
}

.Rectangle93 {
  width: 779.06px;
  height: 395px;
  background: white;
  border-radius: 7px;
}

.Model-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Model-content-icon {
  width: 159.89px;
  height: 119.26px;
  background: white;
  box-shadow: 0px 3px 25px rgba(128, 93, 202, 0.20);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  color: #e2a03f;
  font-family: 'Nunito';
  font-weight: 400;
}

.Model-content-titre, .Model-content-des {
  text-align: center;
  font-size: 32px;
  font-family: 'Nunito';
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 20px;
}

.Model-content-des {
  color: #e7515a;
}

.Model-content-btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Buttons {
  position: relative;
  gap: 0;
}

.Rectangle100 {
  width: 219.97px;
  height: 47.86px;
  border-radius: 4px;
}

.NonAnnule, .Supprimer {
  position: absolute;
  top: 50%;
  left: 50%;
  
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 600;
  color: white;
  background-color: red;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
  padding: 13px;
  border-radius: 6px;
  text-align: center;
}
 .Supprimer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 600;
  color: white;
  background-color: red;
  cursor: pointer;

}
 .NonAnnule {
  position: absolute;
  top: 50%;
  width: 110px;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 600;
  color: white;
  background-color: blue;
  cursor: pointer;
}


</style>
<body>
  <div class="Model">
 
    <div class=".Model-content ">
      <div class="Model-content-icon">!</div>
    </div>
    <div class="Model-content-titre">Êtes-vous sûre?</div>
    <div class="Model-content-des">Vous ne pourrez pas inverser cela!</div>
    <div class="Model-content-btns">
      <div class="Buttons">
       
        <button class="NonAnnule">Annule!</button>
      </div>
    
        <div class="Buttons">
        <button class="Supprimer">Supprimer</button>
      </div>
      </div>
    </div>
  </div>
  
</body>
</html>




