<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/cours.css" />
    </head>
<body>
  <div class="container">
    <!-- header -->
        <%- include('./partials/header.ejs') %>
    <!-- header ends -->
    <div class="background">
    <div class="container">
            <h1>Cours In Progress</h1>
        <div class="content">
            <div class="Cours">
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Bases de données </span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" download alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Réseau informatique</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Communication</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png"  alt="Network" class="icon-download" >
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Administration de Réseau</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Javascripte</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <a href="#" class="Cour">
                    <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                    <div class="Cour-content">
                        <span class="Cour-title">Java</span>
                        <span class="Cour-subtitle">Développement web</span>
                    </div>
                    <img src="/images/Download-icon.png" alt="Network" class="icon-download">
                </a>
                <!-- End of  Cours -->
            </div>
             <%# Menu  %>
            <%# 
            <div class="sidebar">
                <a href="#" class="sidebar-item">
                    <img src="home-icon.png" alt="Home">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="module-icon.png" alt="Modules">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="schedule-icon.png" alt="Schedule">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="settings-icon.png" alt="Settings">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="profile-icon.png" alt="Profile">
                </a>
            </div>
             %>
            <%# Menu  %>
        </div>
        
    </div>
</div>
        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- footer ends -->

        <!-- js -->
        <script src="JS/app.js"></script>
    </body>
</html>
