<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <!-- Header -->
        <%- include('./partials/header.ejs') %>
        <!-- Header Ends!! -->

        <!-- Container -->
        <div class="main">
            <img src="images/Zellij2.jpg" class="bg" />
            <img src="images/icons.jpg" class="bg2" />
            <!-- teachers Div -->
            <div class="container">
                <div class="card">
                    <a href="teacher">
                        <div class="teacher-div">
                            <img
                                src="images/teacher-books.jpg"
                                alt="teacher-side"
                            />
                        </div>
                        <div class="content">
                            <p>الفضاء الخاص بمعلمات ومعلمون التلاميذ</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Ends Parent Div!! -->
            <!-- Studnets Div -->
            <div class="container">
                <div class="card">
                    <a href="student">
                        <div class="student-div">
                            <img src="images/student.jpg" alt="student-side" />
                        </div>
                        <div class="content">
                            <p>الفضاء الخاص بالتلميذات والتلاميذ</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Ends Studnets Div!! -->
        </div>
        <!-- Container Ends-->

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- footer ends -->

        <!-- js -->
        <script src="JS/app.js"></script>
    </body>
</html>
