<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Table</title>
    <link rel="stylesheet" href="/css/tableau2.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email Address</th>
                <th>INE</th>
                <th>filiére</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/images/anar.png" alt="Lindsey Stroud"><span>Amin</span></td>
                <td>@gmail.com</td>
                <td>G547887</td>
                <td>informatique</td>
                <td>
                    <button class="edit-btn"><img src="/public/images/edit.png" alt="edit"></button>
                    <button class="delete-btn"><img src="/public/images/delete.png" alt="delete"></button>
                </td>
            </tr>
            <tr>
                <td><img src="images/anar.png" alt="Sarah Brown"><span>ahmed</span></td>
                <td>@gmail.com</td>
                <td>G547887</td>
                <td>informatique</td>
                <td>
                    <button class="edit-btn"><img src="/public/images/edit.png" alt="edit"></button>
                    <button class="delete-btn"><img src="/public/images/delete.png" alt="delete"></button>
                </td>
            </tr>
            <tr>
                <td><img src="images/anar.png" alt="Michael Owen"><span>Youness</span></td>
                <td>@gmail.com</td>
                <td>G547887</td>
                <td>informatique</td>
                <td>
                    <button class="edit-btn"><img src="/public/images/edit.png" alt="edit"></button>
                    <button class="delete-btn"><img src="/public/images/delete.png" alt="delete"></button>
                </td>
            </tr>
            <tr>
                <td><img src="images/anar.png" alt="Mary Jane"><span>Hajita</span></td>
                <td>@gmail.com</td>
                <td>G547887</td>
                <td>informatique</td>
                <td>
                   <button class="edit-btn"><img src="/public/images/edit.png" alt="edit"></button>
                    <button class="delete-btn"><img src="/public/images/delete.png" alt="delete"></button>
                </td>
            </tr>
            <tr>
                <td><img src="images/anar.png" alt="Peter Dodle"><span>oussama</span></td>
                <td>@gmail.com</td>
                <td>G547887</td>
                <td>informatique</td>
                <td>
                     <button class="edit-btn"><img src="/public/images/edit.png" alt="edit"></button>
                    <button class="delete-btn"><img src="/public/images/delete.png" alt="delete"></button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>