<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
    <link rel="stylesheet" href="/css/tableau.css">
</head>
<body>
    <div class="table-container">
        <div class="table-header">
            <div class="table-row">
                <div class="table-cell header-cell border-right">Nom</div>
                <div class="table-cell header-cell border-right">INE</div>
                <div class="table-cell header-cell">Status</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="table-cell border-right">Amin</div>
                <div class="table-cell border-right">G2123123</div>
                <div class="table-cell">
                    <button class="absente">Absente</button>
                    <button class="present">Présent</button>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell border-right">Hajita</div>
                <div class="table-cell border-right">G2123123</div>
                <div class="table-cell">
                    <button class="absente">Absente</button>
                    <button class="present">Présent</button>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell border-right">Youness</div>
                <div class="table-cell border-right">G2123123</div>
                <div class="table-cell">
                    <button class="absente">Absente</button>
                    <button class="present">Présent</button>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell border-right">Youness</div>
                <div class="table-cell border-right">G2123123</div>
                <div class="table-cell">
                    <button class="absente">Absente</button>
                    <button class="present">Présent</button>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell border-right">Youness</div>
                <div class="table-cell border-right">G2123123</div>
                <div class="table-cell">
                    <button class="absente">Absente</button>
                    <button class="present">Présent</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
