<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="css/teacher.css">
    <title>الفضاء الخاص بالأساتذة</title>
  </head>
  <body>
      <div class="container">
        <!-- header -->
            <%- include('./partials/header.ejs') %>
        <!-- header ends -->
      <div class="forms-container">
        <div class="signin-signup">
          <form action="log-in.php" method="post" class="sign-in-form" autocomplete="off">
            <h2 class="title">تسجيل الدخول</h2>
              <p id="error-container" class="error">
            <div class="input-field" id="username">
              <i class="fas fa-user"></i>
              <input type="text" name="username"  placeholder="اسم المستخدم" />
            </div>
            <div class="input-field" id="password">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="كلمة المرور" />
            </div>
            <input type="submit" value="تسجيل الدخول" class="btn-1" />
            <a class="btn transparent" id="sign-up-btn">
              نسيت كلمة المرور؟
            </a>
            <!-- footer -->
                <%- include('./partials/footer.ejs') %>
            <!-- footer ends -->
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h1>مرحبًا بك في حسابك الخاص</h1>
            <p>
              منظومة معلوماتية متكاملة تمكن من إرساء طرق عمل جديدة للتدبير
              المدرسي على صعيد المؤسسات التعليمية
            </p>
          </div>
          <img src="images/teacher.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h1>ما الحل؟</h1>
            <p style="margin-bottom: 90px">
              من فضلك، انتقل إلى إدارة المدرسة لتحديث كلمة المرور الجديدة الخاصة
              بك.
              <span><a href="">او إضفط هنا</a></span>
            </p>
            <img src="images/solution.svg" class="image" alt="" />
            <button class="btn transparent-1" id="sign-in-btn">عودة</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
        // Change the border color to red
        document.getElementById('username').style.border = '2px solid red';
        document.getElementById('password').style.border = '2px solid red';

      const usernameInput = document.getElementById('username');
      const passwordInput = document.getElementById('password');

      usernameInput.addEventListener('input', function() {
        usernameInput.style.border = '2px solid #FFA300';
      });

      passwordInput.addEventListener('input', function() {
        passwordInput.style.border = '2px solid #FFA300';
      });

    </script>
    <script>
        const errorContainer = document.querySelector('#error-container');

        // Check if the error message is present and then schedule it to disappear after 5 seconds
        if (errorContainer) {
            setTimeout(() => {
                errorContainer.style.display = 'none';
            }, 5000);
            
        }
    </script> -->
    <script src="js/script.js"></script>
  </body>
</html>
