@import url("https://fonts.googleapis.com/earlyaccess/scheherazade.css");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=IBM+Plex+Sans+Arabic:wght@300;400&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--button-color);
    color: var(--background-color);
}

/* Colors */
/* 
    Primary Color (Official School Color): #0072CE (Blue)
    Secondary Color (Accent): #FFA300 (Orange)
    Background Color: #eeefef (Dark White)
    Text Color: #333333 (Dark Gray)
    Button Color: #4CAF50 (Green)
*/
:root {
    --primary-color: #0072CE;
    --secondary-oclor: #FFA300;
    --background-color: #ffffff;
    --text-color: #333333;
    --button-color: #4CAF50;

    /* Font family Arabic */
    --font-family: 'Cairo', sans-serif;
    --font-family1: 'IBM Plex Sans Arabic', sans-serif;
}

body {
    background-image: url(https://www.rsu.ma/rsu/bgContent1-left.21b761aebb803b33.png),url(https://www.rsu.ma/rsu/bgContent3-topRight.00811284a834c59d.png),url(https://www.rsu.ma/rsu/bgContent3-BottomRight.dbecf231b0249381.png);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: -25px -2px,calc(100% + 37px) -85px,calc(100% + 63px) 70%;
    background-size: 490px 677px,270px 307px,240px 239px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
    
}

div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

h2 {
    font-family: 'Scheherazade';
    text-align: center;
    border-bottom: 3px solid var(--button-color);
    font-size: 2.2rem;
    cursor: default;
    margin: 0 185px;
    color: var(--text-color);
    margin-bottom: 25px;
    margin-top: 6px;
}

form {
	width: 500px;
	border: 2px solid var(--primary-color);
	padding: 30px;
	background: transparent;
	border-radius: 15px;
    margin-top: 50px;
}

/* input {
} */

.input-field {
    width: 100%;
    direction: rtl;
    font-family: var(--font-family);
    background-color: var(--background-color);
    border: 2px solid var(--secondary-oclor);
    color: var(--text-color);
    border-radius: 5px;
    margin: 10px 0;
    height: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    direction: rtl;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 2;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color);
}

.input-field:focus {
    filter: brightness(100%);
}
  
  
.input-field:hover {
    filter: brightness(96%);
    transition: .2s ease-in-out;
}  

button {
    background-color: #0071cec8;
    border: none;
    outline: none;
    width: 35%;
    margin-top: 16px;
    font-size: 18px;
    padding: 8px 2px;
    color: var(--background-color);
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
  background-color: var(--primary-color);
}

.btn-1 {
    text-align: center;
}

/* footer */
footer {
    color: var(--text-color); 
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 15px;
    margin-top: 60px;
    font-weight: 700;
    font-family: var(--font-family1);
}

footer i a {
    color: var(--text-color);
    text-decoration: none;
}