@import url("https://fonts.googleapis.com/earlyaccess/scheherazade.css");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=IBM+Plex+Sans+Arabic:wght@300;400&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--button-color);
    color: var(--background-color);
}

/* Colors */
/* 
    Primary Color (Official School Color): #0072CE (Blue)
    Secondary Color (Accent): #FFA300 (Orange)
    Background Color: #eeefef (Dark White)
    Text Color: #333333 (Dark Gray)
    Button Color: #4CAF50 (Green)
*/
:root {
    --primary-color: #0072CE;
    --secondary-oclor: #FFA300;
    --background-color: #ffffff;
    --text-color: #333333;
    --button-color: #4CAF50;

    /* Font family Arabic */
    --font-family: 'Cairo', sans-serif;
    --font-family1: 'IBM Plex Sans Arabic', sans-serif;
}

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}


body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    min-height: 85vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containe {
    background-color: #ebe6e644;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--secondary-oclor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 10px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.title {
    font-size: "Scheherazade" !important;
    text-align: center;
    border-bottom: 3px solid var(--button-color);
    margin: 5px;
    padding: 0px;
    display: -webkit-inline-box;
}

.title h2
{
    color: var(--text-color);
    font-size: 30px;
    padding: 10px;
    font-family: 'Scheherazade';
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: transparent;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
    transition: .3s;
}

.select-clicked {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 .8em #26499a4f;
}

.select:hover {
    background: #3237410c;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--text-color);
    transition: .3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: .2em .5em;
    background: #a8a6a6;
    border: 2px solid var(--primary-color);
    box-shadow: 0 .5 1em rgba(0, 0, 0 .2);
    border-radius: .5em;
    color: var(--text-color);
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: .2s;
    z-index: 1;
}

.menu li {
    font-size: 16px;
    padding: .7em .5em;
    margin: .3em 0;
    border-radius: .5em;
    cursor: pointer;
    transition: .2s;
}

.menu li:hover {
    color: var(--background-color);
}

.active {
    background: #e1e0e0;
    border: 1px solid var(--button-color);
}

.menu-open {
    display: block;
    opacity: 1;
}

/* footer */
footer {
    color: var(--text-color); 
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 15px;
    margin-top: 60px;
    font-weight: 700;
    font-family: var(--font-family1);
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

 @media (max-width: 320px) {
    .dropdown {
        min-width: 8em;
        position: relative;
        margin: 2em 0px;
    }
    .title h2 {
        font-size: 24px;
        padding: 0px;
    }
    footer{
        margin: 0;
        font-size: 18px;
    }
    footer p {
        margin: 0;
        font-size: 18px;
        margin-top: 152px;
    }
    .containe {
        margin-bottom: 120px;
    }
  }

  @media (min-width: 340px) {
    .dropdown {
        min-width: 14em;
        position: relative;
        margin: 2em;
        margin-left: 3px;
}
  }